<strong>Olá, {{ student }}</strong>
<p>Ficamos felizes em ter você como nosso novo aluno!</p>
<p>Veja abaixo os detalhes da sua matrícula.</p>
<br>
<p>
  <strong>Plano:</strong> {{ plan }} <br>
  <strong>Data de Início:</strong> {{ startDate }} <br>
  <strong>Data de Término:</strong> {{ endDate }} <br>
  <strong>Valor:</strong> R${{ price }} <br>
</p>
<br>
<p>Bem vindo ao Gympoint!</p>
